
.header{
    grid-area: h;
    background-color: rgb(51, 163, 152);
    opacity: 0.9;
    text-align: right;
    position: fixed;
    width: 100%;
    }
    .header img{
        width: 150px;
        padding: 10px;
    }