
.header{
    grid-area: h;
    width: 100%;
    z-index: 3000;
    background-color: #ffffff;
    opacity: 0.8;
    position: fixed;

    }
    .header img{
        width: 150px;
        padding: 10px;
    }