.app-wrapper{
  margin: 0 auto;
  width: 100%;
  height: 100vh;
  display: grid;
  grid-template-areas:
  "h h"
  "n c";
  grid-template-rows: 77px 1fr;
  grid-template-columns: 1fr 10fr;
/*  grid-gap: 2px;*/
}
.app-wrapper-content {
  grid-area: c;
  background-color: #edf2f4;
  padding: 50px 30px 0 50px;

}

